# API Keys
GROQ_API_KEY=sua_chave_groq_aqui
GOOGLE_API_KEY=sua_chave_gemini_aqui
OPENROUTER_API_KEY=sua_chave_openrouter_aqui

# App Config
LLM_PROVIDER=openrouter # groq, google ou openrouter
MODEL_NAME=minimax/minimax-m2.5:free # llama3-70b-8192, gemini-1.5-pro-latest ou minimax/minimax-m2.5:free

